In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
all_truck = pd.read_csv('/content/drive/My Drive/new_dat.csv')

In [3]:
all_truck.head()

   Unnamed: 0  id_x  id_android  ...  longitude  track_id               time_y
0           0     1           0  ... -37.062742         1  2014-09-13 07:24:32
1           1     1           0  ... -37.062742         1  2014-09-13 07:24:37
2           2     1           0  ... -37.062765         1  2014-09-13 07:24:42
3           3     1           0  ... -37.062843         1  2014-09-13 07:24:47
4           4     1           0  ... -37.062879         1  2014-09-13 07:24:53

[5 rows x 16 columns]

In [0]:
!pip install pyrebase

In [0]:
import pyrebase

config = {
    "apiKey": "AIzaSyBSD_sLmGCmbWsMGAfjCFq07YT6GZ44Cgk",
    "authDomain": "rota-d2e8e.firebaseapp.com",
    "databaseURL": "https://rota-d2e8e.firebaseio.com",
    "projectId": "rota-d2e8e",
    "storageBucket": "",
    "messagingSenderId": "830006741614",
    "appId": "1:830006741614:web:d0ad1fa4cca7e73829747f"
  }

firebase = pyrebase.initialize_app(config)
auth = firebase.auth()
db = firebase.database()

In [25]:
#good_paths = [30,31,41,37962,27,26]
good_paths = [30,31,37962,27]
path_num=1

for i in good_paths:
  all_request = all_truck.loc[all_truck['track_id'] == i]
  #print(path_num,len(all_request))
  path_points = []
  current_num = 1
  
  for i in range(len(all_request)):
    k = all_request.iloc[i,:]
    data = {
      "latitude": k['latitude'],
      "longitude": k['longitude']
    }
    #print(data)
    results = db.child("training").child("path "+str(path_num)).child(current_num).set(data)
    current_num+=1
    #path_points.append(data)
  print(path_num)
  
  path_num+=1
  
#   data = {
#     "latitude": k['latitude'],
#     "longitude": k['longitude'],
#     "speed": k['speed'],
#     "direction": k['direction']
#   }

1
2
3
4