In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [0]:
import pandas as pd
all_truck = pd.read_csv('/content/drive/My Drive/new_dat.csv')
all_truck['time_y'] = pd.to_datetime(all_truck['time_y'], format = "%Y-%m-%d %H:%M:%S.%f")
all_truck = all_truck.set_index('time_y')

In [0]:
seconds_resampled_data = all_truck.resample('1S').interpolate()

In [10]:
print(seconds_resampled_data.head())

                     Unnamed: 0  id_x  ...  longitude  track_id
time_y                                 ...
2014-09-13 07:24:32         0.0   1.0  ... -37.062742       1.0
2014-09-13 07:24:33         0.2   1.0  ... -37.062742       1.0
2014-09-13 07:24:34         0.4   1.0  ... -37.062742       1.0
2014-09-13 07:24:35         0.6   1.0  ... -37.062742       1.0
2014-09-13 07:24:36         0.8   1.0  ... -37.062742       1.0

[5 rows x 15 columns]